/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@300..600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@font-face {
  font-family: Termina;
  src: url("../public/fonts/termina/TerminaTest-Regular.otf");
}

@font-face {
  font-family: TerminaMedium;
  src: url("../public/fonts/termina/TerminaTest-Medium.otf");
}
@font-face {
  font-family: TerminaBold;
  src: url("../public/fonts/termina/TerminaTest-Bold.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.slider-nav__button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 50px;
	min-height: 50px;
	transition: all .3s ease;
}



* {
  box-sizing: border-box;
  transition: all .3s;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .button {
    @apply relative inline-flex justify-center border border-secondary bg-secondary text-white text-center py-2 px-7 min-w-[120px] hover:text-secondary lg:px-5 z-[1]
  }

  .button-secondary {
    @apply relative inline-flex justify-center border border-secondary bg-white text-secondary text-center py-2 px-7 min-w-[120px] hover:text-white lg:px-5 z-[1]
  }

  a {
    @apply font-medium text-[10px]
  }

  /* span {
    @apply font-nunito
  } */

  body {
    @apply text-darkBlue bg-white font-termina
  }

  /* p, h1, h2, h3, h4, h5, h6, div {

  } */

  p {
    @apply font-normal text-[11px] mb-[1rem]
  }

  h1 {
    @apply font-medium leading-8 mb-4 md:text-[2em] text-[1.5em]
  }

  h2 {
    @apply font-medium mb-4 text-[1.5em]
  }

  h3 {
    @apply font-medium md:mb-4 md:text-[1em] mb-1
  }

  .site-max-width {
    @apply max-w-[1800px]
  }

  .container {
    @apply w-full max-w-[1800px] h-auto mx-auto px-5
  }

  .container-lg {
    @apply max-w-[1200px]
  }

  img {
    @apply object-cover max-w-full align-middle h-auto
  }

  section {
    @apply pb-20
  }
}