/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@300..600&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"); */
@font-face {
  font-family: Termina;
  src: url("../public/fonts/termina/TerminaTest-Regular.otf");
}

@font-face {
  font-family: TerminaMedium;
  src: url("../public/fonts/termina/TerminaTest-Medium.otf");
}
@font-face {
  font-family: TerminaBold;
  src: url("../public/fonts/termina/TerminaTest-Bold.otf");
}
@font-face {
  font-family: Poppins;
  src: url("../public/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: PoppinsMedium;
  src: url("../public/fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: PoppinsBold;
  src: url("../public/fonts/poppins/Poppins-Bold.ttf");
}

:root{
  --primary-color: #219D49;
  --secondary-color: #75BD59;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection{
  color: #F8F8F8; 
  background-color: var(--secondary-color);
}
/* Scrollbar Width */
::-webkit-scrollbar {
  width: 9.5px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  /* border-radius: 3em;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
} 

* {
  box-sizing: border-box;
  transition: all .3s ease;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .button {
    @apply relative inline-flex justify-center border border-secondary bg-secondary text-white text-center py-2 px-7 min-w-[120px] hover:text-secondary lg:px-5 z-[1]
  }

  .button-secondary {
    @apply relative inline-flex justify-center border border-secondary bg-white text-secondary text-center py-2 px-7 min-w-[120px] hover:text-white lg:px-5 z-[1]
  }

  a {
    @apply font-medium text-[10px] font-termina
  }

  /* span {
    @apply font-nunito
  } */

  body {
    @apply text-darkBlue bg-white font-poppins
  }

  /* p, h1, h2, h3, h4, h5, h6, div {

  } */
  h1, h2, h3, h4, h5, h6 {
    @apply font-terminamedium
  } 

  p {
    @apply font-normal text-[14px] md:max-slg:text-[12px] mb-[1rem] leading-[24px] text-justify
  }

  h1 {
    @apply font-medium mb-4 max-md:mb-2 md:text-[2em] text-[1.5em]
  }

  h2 {
    @apply font-medium mb-4 text-[1.25em]
  }

  h3 {
    @apply font-medium md:mb-4 md:text-[1em] mb-1 text-[.75em]
  }

  .site-max-width {
    @apply max-w-[1800px]
  }

  .container {
    @apply w-full max-w-[1800px] h-auto mx-auto px-5 max-sm:px-2 max-md:px-3 max-slg:px-4
  }

  .container-lg {
    @apply max-w-[1200px]
  }
  .news-article-container{
    @apply max-w-[860px]
  }
  .news-article-container a{
    @apply text-primary
  }

  img {
    @apply object-cover max-w-full align-middle h-auto
  }

  section {
    @apply pb-20
  }
  .section-top{
    @apply pt-24
  }
  .flex-col-md{
    @apply max-md:flex-col
  }
  .split-page-images{
    @apply basis-1/2  max-md:basis-full
  }
  .split-page-images-container{
    @apply flex h-[150px] gap-2 max-md:flex-col max-md:w-full max-md:h-auto
  }
}


.marquee-slider-wrapper{
  display: flex;
  
  position: relative;

}
.marquee-slider-slides-wrapper{
  display: flex;
  position: relative;
  
}

.marquee-slider-slide{
width: fit-content;
}