#nprogress .bar{
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color)) !important;
    box-shadow:  none !important;
    filter: none !important;
    -webkit-filter: none;
  }
  #nprogress .peg{
    box-shadow:  0px 0px 10px var(--primary-color) !important;
  }